[Unit]
Description=Servicio de inicio del reto de Hacking (Banco y DBZ)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/reto

# 1. Ejecutar el script para generar los secretos nuevos
ExecStartPre=/bin/bash /opt/reto/generate_secrets.sh

# 2. Levantar los contenedores de Docker
ExecStart=/usr/local/bin/docker-compose up -d

# 3. Al apagar la máquina, bajar los contenedores limpiamente
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target