[Unit]
Description=Servicio de inicio del reto de Hacking (Banco y DBZ)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/ataques-diccionario

# 1. Levantar los contenedores de Docker
ExecStart=/bin/bash -c "/bin/bash /opt/ataques-diccionario/generate_secrets.sh && /usr/bin/docker compose up -d --force-recreate"

# 2. Al apagar la máquina, bajar los contenedores limpiamente
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target